/* layout <:scope /> like a panel */
:scope, body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--background-color) center / cover; }
/* custom <:scope /> inherited styles */
:scope {
    color: var(--foreground-color);
    font: 400 16px system-ui;
    --font-top: calc(2210 / 2048);
    --font-bottom: calc(514 / 2048);
    --font-ascent: calc(1434 / 2048);
    --font-descent: calc(482 / 2048);
    font-variant-numeric: oldstyle-nums;
    overflow-wrap: break-word;
    text-size-adjust: none; }
:scope[data-platform^="Linux"] {
    line-height: 1.5; }
:scope[data-platform^="iP"], :scope[data-platform^="MacIntel"] {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.47059; }
/*::first-letter {
    font-variant-numeric: lining-nums; }*/
/* <section /> and <article /> */
article {
    display: block; }
section {
    display: block;
    margin-block-start: 1em;
    /*margin-block-end: 1em;*/ }
/* <h1–6 /> */
h1, h2, h3, h4, h5, h6 {
    display: block;
    font-variant-numeric: lining-nums; }
h1 {
    font-size: 2em;
    font-weight: 300;
    margin-block-start: calc(1em * (var(--font-ascent) - var(--font-top))); }
h2 {
    font-size: 1.4em;
    font-weight: 300; }
:scope[data-platform^="Linux"] h1 {
    font-size: 2.25em;
    font-weight: 400; }
:scope[data-platform^="Linux"] h2 {
    font-size: 1.5em;
    font-weight: 400; }
dolly17107-content {
    display: block; }
/* <dolly17107-p /> */
dolly17107-p, p, .p {
    display: block;
    margin-block-start: 1em;
    /*margin-block-end: 1em;*/ }
dolly17107-line {
    display: block; }
/* [data-indent] */
@media (min-width: 700px) {
    [data-indent], section > dolly17107-content {
        margin-inline-start: 1em; } }
/* <div /> is a layout(block) element */
div {
    display: block; }
/* [data-overflow*] */
[data-overflow] {
    overflow: auto; }
[data-overflow-x] {
    overflow-x: auto;
    overflow-y: hidden; }
[data-overflow-y] {
    overflow-y: auto;
    overflow-x: hidden; }
/* [contenteditable] */
[contenteditable="false"] {
    -webkit-user-modify: read-only; }
[contenteditable="plaintext-only"] {
    -webkit-user-modify: read-write-plaintext-only; }
[contenteditable="true"] {
    -webkit-user-modify: read-write; }
/* Some font appearance is lang-dependent */
[lang="en"] {
    -webkit-locale: "en"; }
[lang="zh-CN"] {
    -webkit-locale: "zh-CN"; }
[lang="zh-TW"] {
    -webkit-locale: "zh-TW"; }
[lang="zh-HANT"] {
    -webkit-locale: "zh-HANT"; }
/* [tight-metric] for precise text box sizing */
[tight-metric] {
    margin-block-start: calc(1em * (var(--font-ascent) - var(--font-top)));
    margin-block-end: calc(1em * (var(--font-descent) - var(--font-bottom))); }
/* <img /> fix */
img {
    display: block; }
/* <a /> style; incorrect for multiline content */
a {
    color: var(--accent-color);
    position: relative; }
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
a:hover, a:focus {
    background: var(--accent-background); }
a:hover::after, a:focus::after {
    border-bottom: 0.08em solid currentColor; }
a:active {
    background: var(--accent-color);
    color: #ffffff; }
/* <ruby /> fix */
ruby {
    display: ruby; }
rt {
    display: block;
    display: ruby-text;
    font-size: 0.5em; }
/* ::selection style */
::selection {
    background: var(--accent-color);
    color: var(--background-color); }
/* colors */
/*@media (prefers-color-scheme: no-preference), (prefers-color-scheme: dark) {*/
    :scope {
        --background-color: #000000;
        --medium-color: #1f1f1f;
        --foreground-color: #ffffff;
        /*--hyperlink-color: #c9e9ff;*/
        /*--hyperlink-background: #c9e9ff4c;*/
        --is-dark-theme: 1;
        --is-light-theme: 0;
        font-weight: 300; }/* }*/
@media (prefers-color-scheme: light) {
    :scope {
        --background-color: #ffffff;
        --medium-color: #e6e6e6;
        --foreground-color: #000000;
        /*--hyperlink-color: #002035;*/
        /*--hyperlink-background: #0020354c;*/
        --is-dark-theme: 0;
        --is-light-theme: 1;
        font-weight: 400; } }
:scope {
    color-scheme: dark light; }
:scope {
    --accent-color: #e3008c;
    --accent-background: #e3008c4c; }
[data-on-black-only] {
    filter: invert(var(--is-light-theme)) hue-rotate(calc(180deg * var(--is-light-theme))); }
[data-on-white-only] {
    filter: invert(var(--is-dark-theme)) hue-rotate(calc(180deg * var(--is-dark-theme))); }
/* layout(panel) */
dolly17107-panel > * {
    width: 100%;
    height: 100%; }
/* <dolly17107-hub /> */
dolly17107-hub {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto; }
dolly17107-hub > * {
    block-size: 100%;
    inline-size: calc(100% - 1em);
    flex: 0 0 auto; }
/* <sup /> and <sub /> */
sup {
    display: inline-block;
    vertical-align: super;
    font-size: calc(1em * (54 / 64));
    margin-block-start: -0.2em; }
sub {
    display: inline-block;
    vertical-align: sub;
    font-size: calc(1em * (54 / 64));
    margin-block-end: -0.2em; }
/* <dolly17107-fraction /> */
.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: calc(1em * (54 / 64));
    padding-inline-start: 0.16em;
    padding-inline-end: 0.16em;
    margin-block-start: -0.2em;
    margin-block-end: -0.2em; }
.fraction > .bottom {
    border-block-start: 0.1em solid currentColor;
    display: block; }