:scope {
    display: flex;
    flex-flow: column nowrap;
    font-family: system-ui; }
:focus {
    outline: unset; }
#textarea {
    font-size: 60px;
    overflow: auto;
    touch-action: pan-y;
    border: 2px solid #999999; }
#textarea:focus {
    border-color: #ff6a00; }
morpheme- {
    display: inline-flex;
    flex-flow: column-reverse nowrap;
    align-items: center; }
morpheme- > grapheme- {
    order: 0;
    flex: 0 0 auto; }
morpheme- > phoneme- {
    order: 1;
    font-size: 0.5em;
    flex: 0 0 auto;
    margin-inline-start: 0.1em;
    margin-inline-end: 0.1em;
    font-family: 'Segoe UI', system-ui; /* for Chinese versions of Windows*/ }
morpheme-::selection, morpheme- *::selection {
    background-color: unset;
    color: unset; }
morpheme-.selection {
    background-color: var(--foreground-color);
    color: var(--background-color); }
dolly17107-select {
    background: var(--background-color);
    border: 2px solid #999999; }
dolly17107-select:not([data-expanded]) {
    display: grid; }
dolly17107-select:not([data-expanded]) > * {
    grid-column-start: 1;
    grid-row-start: 1;
    pointer-events: none; }
dolly17107-select:not([data-expanded]) > :not([data-selected]) {
    visibility: hidden; }
dolly17107-select[data-expanded] {
    display: flex;
    flex-flow: column nowrap; }
spinner- { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 72px; height: 72px; margin: auto; }
spinner- * { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; animation-iteration-count: infinite; animation-name: orbit; animation-duration: 4s; }
spinner- *:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; width: 10%; height: 10%; border-radius: 50%; background: #c0c0c0; }
spinner- *:nth-child(2) { animation-delay: 180ms; }
spinner- *:nth-child(3) { animation-delay: 360ms; }
spinner- *:nth-child(4) { animation-delay: 540ms; }
spinner- *:nth-child(5) { animation-delay: 720ms; }
spinner- *:nth-child(6) { animation-delay: 900ms; }
@keyframes orbit {
    0% { transform: rotate(-30deg); opacity: 1; animation-timing-function: ease-out; }
    3% { transform: rotate(60deg); animation-timing-function: linear; }
    33% { transform: rotate(240deg); animation-timing-function: ease-in-out; }
    39% { transform: rotate(420deg); animation-timing-function: linear; }
    69% { transform: rotate(600deg); opacity: 1; animation-timing-function: ease-out; }
    72% { transform: rotate(690deg); animation-timing-function: ease-out; }
    72.1% { transform: rotate(690deg); opacity: 0; }
    100% { transform: rotate(690deg); opacity: 0; } }
dolly17107-rime-table-pages {
    direction: rtl;
    line-height: 1; }
dolly17107-rime-table-page {
    display: grid;
    grid: auto-flow / repeat(30, 1em) auto;
    gap: 0.4em;
    margin-block-start: 1em; }